/* 05-tien-ich.css */

/* Căn giữa nội dung chữ */
.can-giua-chu {
  text-align: center;
}

/* Ẩn trên điện thoại, chỉ hiện trên máy tính */
.chi-hien-tren-may-tinh {
  display: none;
}

@media (min-width: 768px) {
  .chi-hien-tren-may-tinh {
    display: block;
  }
}

